.calendarContainer {
  padding: 20px;
  border-right: 2px solid rgb(231, 231, 231);
  margin-right: 2px;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 8px;
  color: #888;
  font-size: 25px;
  font-weight: 500;
}

.calendarHeader span {
  font-size: 50px;
}

.weekDay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 200;
  width: 74px;
  color: #888;
}

.dayContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  width: 70px;
  height: 70px;
  border: 2px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.dayContainer.today {
  font-weight: 500;
}

.dayContainer.inactive {
  border: 2px solid rgb(243, 243, 243);
}

.dayContainer.selected {
  background-color: rgb(54, 206, 54);
  color: white;
}

.dayContainer:hover {
  transform: scale(1.02);
}

.star {
  position: absolute;
  top: 1px;
  left: 1px;
  line-height: 0;
}

.monthButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}

.monthButton span {
  font-size: 20px;
  font-weight: 500;
  color: #888;
}

.monthButton:hover {
  background-color: rgb(231, 231, 231);
}

@media screen and (max-width: 900px) {
  .calendarContainer {
    border-right: none;
    border-bottom: 2px solid rgb(231, 231, 231);
    margin-bottom: 50px;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 600px) {
  .calendarContainer {
    padding: 20px 5px;
  }

  .calendarHeader {
    font-size: 20px;
  }

  .weekDay {
    font-size: 10px;
    font-weight: 300;
    width: 52px;
  }

  .dayContainer {
    margin: 1px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
  }
}

@media screen and (max-width: 425px) {
  .calendarHeader {
    font-size: 16px;
  }

  .weekDay {
    font-size: 8px;
    font-weight: 300;
    width: 42px;
  }

  .dayContainer {
    margin: 1px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
  }
}